# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore SQLite databases
*.sqlite

# Ignore virtual environments
.venv/
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
