# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore SQLite databases
*.sqlite

# Ignore virtual environments
.venv/
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore FinanceTracker release folders
FinanceTracker_v*.zip
FinanceTracker_v1.2.0/
FinanceTracker_v1.3.0/
FinanceTracker_v*/

# Ignore build and distribution folders
build/
dist/

# Ignore executables
*.exe
